In [23]:
# Import dependencies
import numpy as np
import pandas as pd

In [24]:
!ls

analysis_clean_train_data.ipynb
clean_train_data.ipynb
CleanTrainData.csv
data_for_model.csv
data_for_model.ipynb
keras_model.ipynb
Loan_Approval
TrainData.csv

In [25]:
# read the data
df = pd.read_csv('CleanTrainData.csv')

In [26]:
# Prep the columns with 1s and 0s


df.loc[df['Married']=="Yes",'Married']=1
df.loc[df['Married']=='No','Married']=0
df.loc[df['Education']=="Graduate",'Education']=1
df.loc[df['Education']=='Not Graduate','Education']=0
df.loc[df['Self_Employed']=="Yes",'Self_Employed']=1
df.loc[df['Self_Employed']=='No','Self_Employed']=0
df.loc[df['Property_Area']=="Urban",'Property_Area']=0
df.loc[df['Property_Area']=='Semiurban','Property_Area']=1
df.loc[df['Property_Area']=='Rural', 'Property_Area']=2
df = df.drop('Unnamed: 0', axis=1)

In [27]:
df.to_csv('data_for_model.csv')
df.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,1,0,5849,0.0,146.412162,360.0,1.0,0,1
1,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,2,0
2,1,0,1,1,3000,0.0,66.000000,360.0,1.0,0,1
3,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,0,1
4,0,0,1,0,6000,0.0,141.000000,360.0,1.0,0,1