In [47]:
# Import dependencies 

import pandas as pd
from sklearn import tree

In [32]:
!ls

analysis_clean_train_data.ipynb
clean_train_data.ipynb
CleanTrainData.csv
data_for_model.csv
data_for_model.ipynb
keras_model.ipynb
Loan_Approval
model_keras.h5
model_scaler.pkl
random_forest_test.ipynb
TrainData.csv
with.csv
without.csv

In [33]:
data= pd.read_csv('data_for_model.csv')
data = data.drop('Unnamed: 0', axis=1)
data.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,1,0,5849,0.0,146.412162,360.0,1.0,0,1
1,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,2,0
2,1,0,1,1,3000,0.0,66.000000,360.0,1.0,0,1
3,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,0,1
4,0,0,1,0,6000,0.0,141.000000,360.0,1.0,0,1

In [34]:
target = data["Loan_Status"]

In [42]:
data_target = data.drop("Loan_Status", axis=1)

In [44]:
data_target_names = data_target.columns
data_target_names

Index(['Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_target, target, random_state=42)

In [40]:
# Run Decision Tree Classifier

tree_classifier = tree.DecisionTreeClassifier()
tree_classifier = tree_classifier.fit(X_train, y_train)
tree_classifier.score(X_test, y_test)

0.7337662337662337

In [41]:
# Run Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=200)
random_forest = random_forest.fit(X_train, y_train)
random_forest.score(X_test, y_test)

0.8116883116883117

In [45]:
# Reverse the inportance of the inputs for Random Forest 

sorted(zip(random_forest.feature_importances_, data_target_names), reverse=True)

[(0.32238126794895533, 'Credit_History'),
 (0.1948292573692512, 'ApplicantIncome'),
 (0.1765077056843731, 'LoanAmount'),
 (0.105302183480564, 'CoapplicantIncome'),
 (0.04820537280745547, 'Property_Area'),
 (0.047333983208033566, 'Loan_Amount_Term'),
 (0.04282767211075187, 'Dependents'),
 (0.025446937708918576, 'Married'),
 (0.020615960789712527, 'Education'),
 (0.016549658891984242, 'Self_Employed')]

In [46]:
# Reverse the inportance of the inputs for Decision Tree Classifier

sorted(zip(tree_classifier.feature_importances_, data_target_names), reverse=True)

[(0.3582190938036749, 'Credit_History'),
 (0.22651498441473958, 'ApplicantIncome'),
 (0.17495728846437056, 'LoanAmount'),
 (0.08755643189618217, 'CoapplicantIncome'),
 (0.05709401019960023, 'Dependents'),
 (0.03108016927635319, 'Loan_Amount_Term'),
 (0.02509715140476827, 'Married'),
 (0.025090068106030396, 'Property_Area'),
 (0.01439080243428069, 'Self_Employed'),
 (0.0, 'Education')]